.results-list{
    display: flex;
    width: 50%;
    height: 100%;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
}

.results-group{
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.results-item{
    display: flex;
    width: 100%;
    height: 100%;
}

.results-item:hover{
    background-color: antiquewhite;
}