#root {
  max-width: 1280px;
  margin: 0 auto;
  padding-bottom: 2rem;
  text-align: center;
  background-color: rgb(53,56,57);
  min-height: 100vh;
}

.App {
  background-color:darkslategrey;
  height: 100vh;
  width: 100vw;
}